{% extends '_base.html' %} {% block main %}

<div class="card text-center mt-5" style="width: 50rem; margin: 0 auto">
  <div class="card-header">Jellydroppr</div>
  <div class="card-body">
    <form action="/auth/login" method="post">
      <div class="row">
        <div class="col mb-3">
          <label for="InputEmail" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="InputEmail"
            aria-describedby="emailHelp"
            name="username"
            required
          />
        </div>
        <div class="col mb-3">
          <label for="InputPassword" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="InputPassword"
            name="password"
            required
          />
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  {% if errors|length > 0 %}
  <div
    class="card-footer text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3"
  >
    {% for error in errors %} {{ error }} {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock main %}
